.container-fluid
  .row
    .col-xs12.col-lg-8
      = render "carts/line_items"
      - if user_signed_in? && (discount = @cart.user.try(:discount).to_i) > 0
        .row.discount
          .col-xs-12.col-lg-6
            Ваша скидка:
            %span= "#{discount}%"
          .col-xs-12.col-lg-6.right
            Итого cо скидкой:
            %span#discount_price= number_to_currency @cart.line_items.to_a.sum{|li| make_discount(li.price * li.quantity, discount)}
